.container{
    width: 90%;
    background-color: silver;
    margin: 10px auto;
    height: 700px;
    position: fixed;
    align-items: flex-start;
    justify-content:space-between;
    align-content: stretch;

}

.top-nav {
    display: flex;
    height: 25%;
    background-color: green;
    margin: 2%;
    padding: 2px;

}
.side-nav {
    height: 290px;
    width: 200px;
    background-color: blue;
    margin: 2%;
    position:absolute;
}
.main {
    display: flex;
    background-color: red;  
    position:absolute;
    width:65%;
    height:60%;   
    margin: 10%;
    left: 18%;
    top:20%;
   
    padding: 10px 30px 9px 9px;
    align-items: flex-start;
    justify-content: space-around;
    padding-right: 35px;
    padding-block-start: 10px;
    
}
.sub-content1 {
    
   
    height: 170px;
    width: 28%;
    background-color: yellow;
    padding-left: 10px;
    
    
    
}
.sub-content2 {
   
   
    height: 170px;
    width: 28%;
    background-color: yellow;
    padding-left: 10px;
    vertical-align: super;
  
   
    
}
.sub-content3 {
    
    
    height: 170px;
    width: 28%;
    background-color: yellow;
    padding-left: 10px;
   
   
      
}
#advertisement {
    height: 115px;
    width: 92%;
    background-color: purple;
    top: 49%;
    position: absolute;
    margin: 2%;
   
margin-right: 2%; 
    

    
}

