

.sub-content1  {
    padding: 10px;
    padding-left: 20%;
    margin: 12px;
    width: 40%;
    height: 75%;
    justify-self: start;
    display: flex; 
    justify-content: center;
    justify-content: space-between;
    background-color: rgb(202, 100, 155); 
}
.sub-content2 {
    background-color: rgb(109, 165, 210); 
    padding: 10px;
    padding-left: 20%;
    margin: 12px;
    width: 40%;
    height: 75%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.f1{
   
    width: 200px;
    height: 200px;
    display: flex;
     
}
.f2{
     
    width: 200px;
    height: 200px;
    display: flex;

}
.f3{
 
    width: 200px;
    height: 200px;
    display: flex;

}
.f4{
    
    width: 200px;
    height: 200px;
    display: flex;

}
.f5{
    
    width: 200px;
    height: 200px;
    display: flex;
}


