

.sub-content1  {
    padding: 10px 10px;
    padding-left: 15%;
    margin: 12px;
    width: 37%;
    height: 75%;
    padding: 7px;
    display: flex; 
    justify-content: center;
    justify-content: space-around;
    margin: 5px;
    background-color: rgb(202, 100, 155); 
}
.sub-content2 {
    background-color: rgb(109, 165, 210); 
    padding-left: 15%;
    padding-left: 20%;
    margin: 12px;
    width: 37%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 7px;
    justify-content: center;
    align-content: space-between 10px;
 
}
.sub-content3 {
    background-color: rgb(221, 221, 221); 
   
    padding-left: 15%;
    margin: 12px;
    width: 37%;
    height: 75%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 5px;
    flex: inline;
    padding: 7px;
}
.f1{
    width: 200px;
    height: 200px;
    display: flex;
    
}
.f2{
    width: 200px;
    height: 200px;
    display: flex;

}
.f3{
    width: 200px;
    height: 200px;
    display: flex;

}
.f4{
    
    width: 200px;
    height: 200px;
    display: flex;

}
.f5{
    
    width: 200px;
    height: 200px;
    display: flex;
}

.f7{
    
    width: 200px;
    height: 200px;
    display: flex;
    margin: 2px;
}



.f8{
    
    width: 200px;
    height: 200px;
    display: flex;
}



.f9{
    
    width: 200px;
    height: 200px;
    display: flex;
}



