
.nav{
    padding-top: 0;
    margin: 0;
    width: 80%;
    background-color: rgb(107, 102, 102);
    margin: 0px 0px 0px 0px;
    height: 65px;
    
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    width: 100%;

}
.nav-title {
    padding: 5px 5px 5px 5px;
    margin: 5px;
    align-items: flex-start;
    color: rgb(193, 204, 193);
}
.nav-links {
     
    display:flex;
    list-style-type:none;
    justify-content: center;
    padding: 5px;
    padding-bottom:10px ;
    margin: 0px 0px 0px 100px;
    padding-left: 100px;
   

}
.nav-links a{
    padding: 2px 5px 5px 5px;
    margin: 5px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
   
}
.nav-links button{
    
    margin: 10px 5px 10px 5px;
    align-items: flex-end;
  
 border: 3px solid;
 box-shadow: 2px 3px 1px 1px ;
 background-color: aqua;
 width: 105px;
 height: 30px;
 padding: 10px 24px;
  text-align: center;
  
 
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;

}

 
 


body {
    display: block;
    margin: 0px;
}
